[2019-03-07 04:04] callahantiff opened #1 "TODO - Project Organization: add project README"
**Task:** Add a README for repo

[2019-03-07 04:11] callahantiff opened #2 "TODO - Coding: Create testing harness"
Needed Scripts: Create testing harness

[2019-03-07 04:15] callahantiff opened #3 "TODO: Finalize KR with ALS"
Finalize KR for building the KG and choose which sources are classes and which are data.

[2019-03-07 04:17] callahantiff opened #4 "TODO - Coding: OBO update Watcher"
Write code for OBOs that monitors issues and pings when a better match has been added or when a term has been deprecated  [issue](https://github.com/callahantiff/BioLater/issues/9).

[2019-03-07 04:19] callahantiff opened #5 "TODO - Coding: parallelize KG Build Process"
Parallelize KG Build Process

[2019-03-07 04:19] callahantiff opened #6 "TODO - Coding: Update code to output final path that is embedded"
Update code to output final path that is embedded

[2019-03-31 16:32] callahantiff opened #7 "TODO - Project Organization: add license to project"
**Task:** Add a license to project

**Description:** Select and add a license to project using the options described [here](https://choosealicense.com/licenses/).

[2019-03-31 17:11] callahantiff opened #8 "TODO - Project Organization: add contributing information"
**Task:** Add documentation for contributing

**Description:** Create or modify contribution information for project. A good example of how to do this can be seen [here](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors#adding-a-contributing-file).

Here is a general outline:

[2019-03-31 17:17] #8 closed, assigned to callahantiff

[2019-08-27 18:12] #1 closed, assigned to callahantiff

[2019-08-27 18:13] #7 closed, assigned to callahantiff

[2019-09-01 17:50] callahantiff opened #12 "HELP: Creating New Ontology Classes with Constructors"
@bill-baumgartner

I was hoping I could ask for your advice on how to go about adding new terms, which reflect my many hp concepts:1 clinical concept mappings, to an existing ontology. I understand that I will create a new class, give it an identifier (making sure that identifier does not already exist in HP), a label, and then create the connection between it and existing terms using an equivalen

[2019-09-02 17:19] bill-baumgartner commented on #12
**One general question:**
Have you been in contact with the HP folks about adding your concepts? Their [instructions for suggesting new concepts](https://hpo.jax.org/app/help/collaboration) imply a new GitHub issue for each new concept, but if I recall correctly you have 1000s of concepts to suggest, right? So, an individual GitHub issue for each would not be feasible. They also want labels, synon

[2019-09-02 18:06] callahantiff commented on #12
Thanks Bill!

***

I initially thought about this, butt after talking to Nicole and Peter am not going to pursue the route of formally suggesting new terms. The reason being that they are not interested in this level of specificity. So, the next best approach is create new edges myself. A few questions for your feedback:
- There are two approaches (generally) I could take and I think the second ap

[2019-09-04 03:18] callahantiff commented on #12
@bill-baumgartner -  any chance you are on campus tomorrow and willing to have a quick chat about this?

[2019-09-05 02:44] callahantiff commented on #12
OK, @bill-baumgartner here are some quick examples given what we talked about today that I created in Protége:

**NOT()**
**Operator:** `owl:complementOf()`
**Details:** Only occurs within the HP and only for `Measurement` and `Drug` domains
**Relation:** `has phenotype`
**class_IRI:** `https://github.com/callahantiff/PheKnowLator/obo/ext/OMOP_4021360`
**Class_Name:** 'Skin appearance normal'
**Cl

[2019-09-05 21:09] bill-baumgartner commented on #12
Looks good overall. A couple of comments:
- For the **NOT()** example:
  - there are some extra classes (diabetes, pancreas) that are not needed for the example
- For the **OR()** example:
  - Because you are not modifying the `abnormal tibia` and `abnormal fibula` classes, I think you can simplify the representations by removing the restrictions and instead just represent `unionOf(abnormal tibia,

[2019-09-05 21:19] callahantiff commented on #12
Thanks! Treating each of your comments as a separate issue:

I'm not sure I'm following 😄 . The **NOT()** example is for normal skin.

The diabetes/pancreas is for the **AND()/NOT()**. Given that, I'm not sure what is extra? How else can we say problem with pancreas not caused by diabetes?

[2019-09-05 21:21] callahantiff commented on #12
Awesome, yes I would not plan on modifying either class. I like this approach!

[2019-09-06 02:27] callahantiff commented on #12
OK, ignore my prior comments. I see what happened in those weird triples. I left something as an equivalence class that should have been removed. The above examples have been updated.

In general, I agree with converting all `AND/OR` to `OR()`. I have made those changes below.

***

Sorry, those are removed now.

***

Perfect, see above.

***

Like this?
[code]

***

So, they removed `Periostitis`

[2019-09-06 05:57] callahantiff commented on #12
OK, what about these for now? Just check the `[ ]` next to each if you agree.

***

- [ ] **NOT()**
**Operator:** `owl:complementOf()`
**Details:** Only occurs within the HP and only for `Measurement` and `Drug` domains
**class_IRI:** `https://github.com/callahantiff/PheKnowLator/obo/ext/OMOP_4021360`
**Class_Name:** 'Skin appearance normal'
**Class Expression Syntax:** `not('Abnormality of the sk

[2019-09-06 17:22] bill-baumgartner commented on #12
**NOT()**
- **not(abnormal) = normal**
  - I think this is fine for this task. Alternatively, there is a [concept for `normal`](http://purl.obolibrary.org/obo/PATO_0000461) in PATO that could be used instead and wouldn't need the use of `complementOf` but would likely require digging into the representation of the `abnormal` concept, and thus, might be difficult to do on an automated basis.

**OR(

[2019-09-06 19:16] callahantiff commented on #12
Thanks @bill-baumgartner!
- Interesting note about `rdf:type rdf:List` edges. When I created the triples in Protége and exported them, those edges were not included. I also did not see those for examples in HPO. I wonder why?

[2019-09-09 22:19] callahantiff commented on #12
@bill-baumgartner - unfortunately, this is not going to make it into the NIPS paper,  but I'd like to try and get it to a good place for an ISMB submission (we've been invited to submit something and I think that this would be good). Would you be willing to set-up semi-regular meetings with me  (after Friday) to dive into this further?

[2019-09-10 19:28] bill-baumgartner commented on #12
definitely, let's do Wednesdays if that works for you.

[2019-09-12 17:54] callahantiff opened #14 "TODO: Add licenses for public data?"
**TODO:** Is it enough to cite the data sources used in the knowledge graph on the [Wiki]() or do I need to additional information like the license (if available)?

@LEHunter or @bill-baumgartner - what are your thoughts on this?

[2019-09-12 17:54] #6 closed, assigned to callahantiff

[2019-09-12 17:57] #5 closed, assigned to callahantiff

[2019-09-12 17:57] #3 closed, assigned to callahantiff

[2019-09-18 00:33] callahantiff opened #15 "Project Meeting -- 09/18/2019 @ 13:00"
**Meeting Date:** September 18, 2019
**Topic:** Weekly Meeting
**Attendees:** @bill-baumgartner

**Proposed Agenda:**
- [ ] Comparing full KG to full KG + reasoner inferences
  - Discuss KaBOB script used to convert anonymous nodes to non-anonymous nodes to properly add edges inferred from running reasoners
- [ ] Continue discussing developing KR for clinical to biological concept mappings (see #1

[2019-09-18 05:00] callahantiff commented on #14
@bill-baumgartner @LEHunter -

Do you think [this](https://github.com/callahantiff/PheKnowLator/wiki/Data-Sources) is good for documentation?

[2019-09-18 12:50] LEHunter commented on #14
Yes, nice.  You might include a brief statement about the rationale for the choices at the top of each version

[2019-09-18 16:56] bill-baumgartner commented on #14
One minor fix: Under the `Releases` heading, the text for the release `2.0.0` link says `v1.0.0`

[2019-09-18 21:05] callahantiff commented on #14
@LEHunter - Great suggestion!

[2019-09-18 21:48] callahantiff commented on #14
Thanks for your help with this issue. I have fixed the typo and added the suggested text. Please re-open if you feel additional information is needed.

[2019-09-18 21:48] #14 closed

[2019-09-18 22:02] callahantiff commented on #15
**UPDATE:**

Before next week's meeting, I need to do the following:
- [ ] Verify that all instances have a valid URI and that this information is correctly recorded in a node-level dictionary
- [ ] Verify node and edge count pre- and post-reasoner to ensure that all newly inferred edges are actually being added to the original KG.
- [ ] Verify that the assertions ignored by the reasoner are not r

[2019-10-08 20:55] callahantiff commented on #15
@bill-baumgartner - for our meeting tomorrow (_10/9/19_) I was hoping we could talk about the inaccurate assertions that resulted from running ELK on HPO. The Spreadsheet documenting these issues can be found [here](https://docs.google.com/spreadsheets/d/1-2i3HFQ9d3F9sp77wqvYQYENHGDL6mq5CmdzIvdO54M/edit#gid=0).

**Goal:**
- [ ] Submit an issue to HPO describing our findings

[2019-10-09 20:06] callahantiff commented on #15
**Post-Meeting Update**

**TODOs:**
- [ ] GO back through reasoner results and reorganize to indicate when an error is from the definition or when it is the result of an error in a different ontology that is used in HPO's definition.
- [ ] Delete all classes except for `red hair` and `skin rash` and then run the reasoner. Then, modify each classes' definition to remove `red` and run reasoner again

[2019-10-16 16:50] callahantiff opened #17 "KG V2.0.0 - Finalizing Knowledge Representation"
## Extending Knowledge Representation for current KG
**Current Release:** [v2.0.0](https://github.com/callahantiff/PheKnowLator/wiki/v2.0.0)

**Description**
Adding the following entities/data sources to the current KG build:
- Variants via [Clinvar](https://www.ncbi.nlm.nih.gov/clinvar/)
- Proteins via [PRO](https://proconsortium.org/)
- New connections between existing ChEBI, GO, and Reactome co

[2019-10-16 17:10] ignaciot commented on #17
Also:

protein-complex, RO_0002436

[2019-10-16 17:26] callahantiff commented on #17
Good catch, I will add to the original issue, thanks!

[2019-11-22 04:00] callahantiff opened #18 "TODO: Perform OWL Reasoner Evaluation"
**TODO:** Perform comparison of OWL reasoners.
During today's meeting with @bill-baumgartner, we outlined how we will perform an evaluation of OWL reasoners on the PheKnowLator V.2.0 KG.

**OWL Reasoner Selection Criteria**
Using the following reviews (shown below), we selected reasoners that met the following criteria:
1. Low response time
2. Available via the OWLAPI
3. Open source

[code]
[code]

[2019-11-22 16:01] callahantiff commented on #15
Closing this for now and will open new issues for relevant parts of this as they come up through our reasoner evaluation and the v3.0.0 build.

[2019-11-22 16:01] #15 closed

[2019-11-22 16:04] callahantiff commented on #12
@bill-baumgartner - clinical mappings are officially complete. I will plan to incorporate them into the v3.0.0 build. I have mocked up a new Wiki page to document how we will do this [here]().

**Would you mind taking a look to verify that you are still in agreement with the proposed approach?** Once you confirm, I will mock-up the code.

[2019-11-25 15:27] callahantiff commented on #18
@bill-baumgartner - I won't be able to meet during our normal Wednesday time, but can meet anytime today after 1pm and anytime tomorrow (for the most part). Let me know that works best for you!

[2019-11-25 16:41] bill-baumgartner commented on #18
Evaluation steps look good. What was the result of `./owltools -h`?
I can meet @ 1pm today. Tomorrow looks dicey due to the weather forecast.

[2019-11-25 16:50] callahantiff commented on #18
I have something at 1pm. I could do 12pm or 2pm. Do either of those work?

The result of running `./owltools -h` indicated that of our list of potential ontologies, only `ELK` and `Pellet` were included.

[2019-11-25 16:53] bill-baumgartner commented on #18
Noon is great!

[2019-11-25 16:59] callahantiff commented on #17
@ignaciot and @bill-baumgartner - the updated KR is shown below (click on image to enlarge). Note that the main data types are ontologies (yellow), open data sources (purple), and experimental data (blue). Note, that this has been verified by Adrianne as well.

![Screen Shot 2019-11-25 at 09 57 47](https://user-images.githubusercontent.com/8030363/69561127-1155b100-0f6a-11ea-91b6-19fef87179c4.png)

[2019-11-25 17:02] ignaciot commented on #17
This is fantastic! Yes, let’s chat this afternoon.

[2019-11-26 19:38] callahantiff commented on #17
**UPDATES:** Incorporating feedback from @bill-baumgartner and @LEHunter resulted in the updated KR shown below.

<img width="1262" alt="Screen Shot 2019-11-26 at 12 31 57" src="https://user-images.githubusercontent.com/8030363/69666046-d24a5d00-1048-11ea-8c1e-7aa53ff5c42d.png">

**Some important questions that I would like help answering:**
1. @ignaciot - you've asked that I use the relation [**`

[2019-11-26 19:43] callahantiff commented on #18
@bill-baumgartner - following up from our meeting yesterday. Can you please take a look at OWLTools to see how difficult it might be to add a reasoner from the OWLAPI? Thank you!!

[2019-11-26 19:47] ignaciot commented on #17
Yup, that is the reason I chose `molecularly interacts with` (binding). Looking at the definition of that other relation (`An interaction that holds between two genetic entities (genes, alleles) through some genetic interaction (e.g. epistasis)`) I don't think that is appropriate for protein-protein interactions. It's probably fine for gene-gene interactions.

Maybe we could generate two graphs, o

[2019-11-26 22:26] callahantiff commented on #17
**OK, great. I also agree about the protein-protein interactions. Maybe we do this:**
  - **gene-gene** [**`genetically interacts with`**](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002435)
 - **protein-protein** [**`interacts with`**](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002434)

[2019-11-26 23:25] ignaciot commented on #17
Thanks, great! I think `molecularly interacts with` is fine for protein-protein interactions, as that interaction implies physical binding.

[2019-11-26 23:26] ignaciot commented on #17
And for chemical-gene is probably better to leave it as the more generic `interacts with`, as you suggested. Because there are many possible ways for the chemical to affect expression (which is what we imply by this interaction).

[2019-11-27 00:46] LEHunter commented on #17
I suggest getting Mike to weigh in on these.  I would like to be consistent with what he is doing with CRAFT for relations.

On Nov 26, 2019, at 3:26 PM, Tiffany J. Callahan <notifications@github.com<mailto:notifications@github.com>> wrote:

Yup, that is the reason I chose molecularly interacts with (binding). Looking at the definition of that other relation (An interaction that holds between two

[2019-11-27 00:49] LEHunter commented on #17
On Nov 26, 2019, at 12:38 PM, Tiffany J. Callahan <notifications@github.com<mailto:notifications@github.com>> wrote:

  1.  @LEHunter<https://github.com/LEHunter> - @bill-baumgartner<https://github.com/bill-baumgartner> and I were talking about the possibility of adding the inverse properties. What are your thoughts on this? Do you think it would have negative ramifications for things like random

[2019-11-27 00:51] callahantiff commented on #17
OK, I will reach out to Mike. Thanks!

[2019-11-27 00:53] callahantiff commented on #17
@LEHunter - I'd like to substitute the following `BFO` terms for the proposed `RO` terms, do you agree?:
- [**`BFO:realizes`**](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FBFO_0000055) to [**`RO:realized in response to`**](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0009501)
    - EXAMPLE: Bi

[2019-11-27 03:22] LEHunter commented on #17
Seems reasonable to me, but please do check with Mike. It’s important to be consistent with CRAFT.  And Mike has thought a lot about this stuff

L

On Nov 26, 2019, at 5:53 PM, Tiffany J. Callahan <notifications@github.com> wrote:

﻿

@LEHunter<https://github.com/LEHunter> - I'd like to substitute the following BFO terms for the proposed RO terms, do you agree?:

  *   BFO:realizes<https://www.ebi

[2019-11-28 02:05] callahantiff commented on #17
Sounds good, I will follow-up with him. Thanks!

[2019-11-29 19:56] callahantiff commented on #17
**UPDATE:** Mike has been emailed to ask about the BFO-RO and interaction triples. In the meantime, I am going to move forward with the representation shown below. Will also create a Bada-version 😉, once I hear back from him.

<img width="1396" alt="Screen Shot 2019-11-29 at 12 55 20" src="https://user-images.githubusercontent.com/8030363/69888137-8fd28b80-12a7-11ea-85ee-f8c5abcb45c7.png">

_NOTE.

[2019-12-02 19:37] bill-baumgartner commented on #17
Turns out the relation I was thinking of is in the Sequence Ontology and not the RO: https://www.ebi.ac.uk/ols/ontologies/so/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2Fso%23variant_of

[2019-12-02 19:39] callahantiff commented on #17
Thanks for letting me know! In that case, unless you are opposed, I will keep [**`causally influences`**](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002566).

[2019-12-02 20:17] bill-baumgartner commented on #18
@callahantiff - can you post the list of reasoners we selected?

[2019-12-02 20:19] callahantiff commented on #18
No problem, @bill-baumgartner the reasoners we chose are shown in the table below.

Reasoner | Language  | OWLTools
:--: | :--: | :--:
ELK | EL  | Yes
ELepHant | EL | No
Pellet | DL | Yes
RACER | DL | No
FACT++ | DL | No
Chainsaw | DL | No
Konclude | DL | No
Crack | DL | No
TrOWL | DL+EL | No
MORe | DL+EL | No

[2019-12-02 20:58] callahantiff commented on #17
@ignaciot - would mind telling me how you found these?
  - protein-protein
  - protein-cofactor/catalyst (ChEBI)
  - protein-complex (reactome)
  - chemical (ChEBI)-complex
  - complex (reactome)-complex (reactome)
  - protein-pathway (reactome)
  - protein-reaction (reactome)

[2019-12-02 22:55] ignaciot commented on #17
These came from Uniprot, and they are sourced from the IntAct database monthly (so it would be a good idea to keep those from STRING as well).

All of those came from Reactome, where they specified the participants (from Uniprot or ChEBI) to pathways, complexes and reactions.

[2019-12-03 04:34] callahantiff commented on #17
Thanks! Update on protein-protein interactions. It looks like we will only need [STRING](https://string-db.org/cgi/info.pl?sessionId=OXJ2mPr9UCEo&footer_active_subpage=faqs) as they already cover the data in IntAct (see screenshot below) 🎉

<img width="784" alt="Screen Shot 2019-12-02 at 21 30 58" src="https://user-images.githubusercontent.com/8030363/70020774-486c2980-154b-11ea-8885-8e8ed847bcab.

[2019-12-03 04:36] ignaciot commented on #17
Awesome! One less thing to worry about, then.

[2019-12-03 17:31] callahantiff commented on #17
@ignaciot - to build the `gene - has_gene_product - protein` triples, we need to identify all human protein coding genes and their gene products.

To get this, I'm using the human proteome (reviewed Swiss-Prot version) from Uniprot ([here](https://www.uniprot.org/uniprot/?query=keyword:%22Complete%20proteome%20[KW-0181]%22&fil=reviewed%3Ayes+AND+organism%3A%22Homo+sapiens+%28Human%29+%5B9606%5D%22

[2019-12-03 18:08] ignaciot commented on #17
Yup! That makes sense.

[2019-12-03 19:00] bill-baumgartner commented on #18
First pass - the biggest issue is that most of the available reasoners support OWL API v3, and not v4 or v5.

- elephant - C code, "Support for OWL API is planned"
- pellet - OWL API v3
- racer - OWL API v3
- chainsaw - OWL API v3
- konclude - no direct connect to OWL API, but may be possible to use: https://www.derivo.de/en/products/konclude/usage-owl-api/
- crack - listed as unmaintained here: h

[2019-12-03 19:58] callahantiff commented on #18
Thanks for the update @bill-baumgartner! I think your plan sounds great! Let me know if I can do anything in the meantime! I will also be in tomorrow if you prefer to meet in person.

[2019-12-10 16:28] callahantiff commented on #17
@ignaciot - can you confirm that you agree with how I am building the `protein-protein` and `protein-complex` edges from the [ComplexParticipantsPubMedIdentifiers_human.txt](https://reactome.org/download/current/ComplexParticipantsPubMedIdentifiers_human.txt) file:

<br>

***
### FILE DATA
***

**File Columns:** `[0] identifier`; `[1] name`; `[2] participants`; `[3] participatingComplex`; `[4] pub

[2019-12-11 18:53] callahantiff commented on #17
@bill-baumgartner - did you want to touch base on this today?

[2019-12-11 18:54] callahantiff commented on #18
@bill-baumgartner - did you want to touch base on this stuff today?

[2019-12-11 19:01] ignaciot commented on #17
These all look correct!

[2019-12-11 19:31] bill-baumgartner commented on #18
Current status of attempting to use Konclude though the OWL-API is summarized here: https://github.com/ignazio1977/owllink-owlapi/issues/2

Probably not worth meeting today unless you have something you want to discuss.

[2019-12-12 05:40] callahantiff commented on #17
Good news, the draft of the sources of data for the edges and documentation of sources are complete. The edge counts will be updated and the files listed on the release page will be added as the KG is built.

@ignaciot - would you mind taking a gander at the following pages and let me know if anything seems incorrect?
- **[`Release V2.0.0`](https://github.com/callahantiff/PheKnowLator/wiki/v2.0.0)

[2019-12-12 06:18] ignaciot commented on #17
This looks AWESOME!! I'm glad those Uniprot/Reactome triples resulted to be useful, can't wait to play with the built graph. I went through all of the above and didn't see any errors. Thanks for adding those inverse relations, too!

Happy to help check the items above that need testing. Maybe we could think of a set of unit tests to write for each build, too (can wait until the next subrelease).

[2019-12-12 23:07] bill-baumgartner commented on #18
Turns out that Konclude works well from the command-line (in conjunction with Docker). So far I have not figured out how to retrieve explanations for unsatisfiable classes, but it is straightforward to:
- check the consistency of an ontology, e.g.
`docker run --rm --name "konclude" -v /local/path/to/ontologies:/data konclude/konclude consistency -i /data/cl.owl`
- classify an ontology, e.g.
`docke

[2019-12-13 04:49] callahantiff commented on #18
Awesome, thanks Bill! Once I have the graph built I will give this a try! Happy to help dig around to find the output for unsatisfiable classes too.

[2019-12-13 05:48] callahantiff commented on #17
Thanks so much for your help @ignaciot! I think writing tests is a great idea. I also think it would be great if we added continuous integration. Perhaps we can chat more about this on Monday?

[2019-12-19 04:50] callahantiff commented on #17
@bill-baumgartner  and @ignaciot - the human version of the PRO is finally done! 🎉

**Things to keep in mind:**
- It was created by building a new graph from running forward and reverse breadth first search over all human pro classes. Human pro classes were identified by querying the ontology for all ontology classes `only_in_taxon some Homo sapiens` (n=61,064 classes).
    - @ignaciot - I found a

[2019-12-19 05:24] ignaciot commented on #17
Awesome!! This is **really** cool.

I take it the `pr:lacks_part` and `owl:disjointWith` had to be kept to keep it a single connected component?  (my only concert would be the incorrect assumption of a relation when creating node embeddings)

[2019-12-19 05:31] callahantiff commented on #17
Thanks! 😄 After reading a bunch of articles, I chose to leave both types in for now as this is the way to create the most "correct"/authentic version of the human PRO. There is a way to keep 1 single component with removing each type. The  `owl:disjointWith` will continued to be removed prior to closing the graph (we have been doing that since the first release (the reasoners ignore this axiom any

[2019-12-19 05:35] ignaciot commented on #17
Oh, absolutely, I don't think this is a reason to halt building the next KG version! I'm excited to try this out once it's built!

[2019-12-19 05:47] callahantiff commented on #17
Awesome! I’ll let you know when it’s ready for you!

[2020-03-25 17:25] callahantiff commented on #18
Morning @bill-baumgartner!

Below is a link to download a zipped directory of the ontologies we can use for the _reasoner challenge_. I have spent the last few days extensively cleaning these files (i.e. removed punning, fixing erroneous Literal typing, correcting inconsistent imported ontology identifiers, etc.). I also went ahead and ran each cleaned file through ELK to make sure that the cleani

[2020-03-26 00:12] callahantiff commented on #18
@bill-baumgartner - [here](https://github.com/callahantiff/PheKnowLator/blob/development/Ontology_Cleaning.ipynb) is the Jupyter Notebook I mentioned during our meeting today (incase you are curious).

[2020-04-01 04:19] callahantiff commented on #18
@bill-baumgartner - just wanted to check-in and see how the great reasoner challenge of 2020 was going? Still OK to meet at our usual time tomorrow?

[2020-04-01 15:03] bill-baumgartner commented on #18
Yep, let's meet. I should have some preliminary data to show you.

[2020-04-01 15:05] callahantiff commented on #18
@bill-baumgartner - Woo hoo! Sounds great, I am looking forward to it!

[2020-04-03 15:37] callahantiff commented on #17
Final KR for V2.0 builds are shown below.

<br>

**Instance-Based Construction**
![PheKnowLator_v2 0 0_KnowledgeRepresentation_Instance](https://user-images.githubusercontent.com/8030363/78377026-562ecb80-758c-11ea-8451-a12f89ba6ad2.png)

<br>

**Subclass-Based Construction**
![PheKnowLator_v2 0 0_KnowledgeRepresentation_subclass](https://user-images.githubusercontent.com/8030363/78376386-79a54680

[2020-04-03 15:37] #17 closed

[2020-04-03 15:44] callahantiff opened #27 "Build V3 - edge_list.py Work Needed"
**V3 Build Changes**.
**Script:** [`edge_list.py`](https://github.com/callahantiff/PheKnowLator/blob/master/pkt_kg/edge_list.py)

Requested Changes:
- [ ]  using `eval()` to handle filtering of downloaded data, should consider replacing this usage in the `filter_data()`
- [x]  modify the `data_reader()` method to stream/chunk large data files instead of reading all into memory

[2020-04-03 15:45] callahantiff commented on #4
Closing for now --  not super relevant to the current build.

[2020-04-03 15:45] #4 closed

[2020-04-03 15:50] callahantiff opened #28 "Build V3 - knowledge_graph.py"
**V3 Build Changes**.
**Script:** [`knowledge_graph.py.py`](https://github.com/callahantiff/PheKnowLator/blob/master/pkt_kg/knowledge_graph.py)

Requested Changes:
- [ ]  Extend functionality of the code to improve KR for:
  - Instance-based builds that include connections between 2 instance nodes (for example, the `complex` and `reaction` nodes from Reactome (shown in Figure below)
  -  The abili

[2020-04-19 16:57] callahantiff opened #30 "codacy and code climate test coverage st-up"
It looks like both the Codacy and Code Climate test coverage reports are not being generated correctly. In the web dashboards for each of these apps it's stating that coverage still needs to be set-up.

@LucaCappelletti94 - would you be willing to take a look at this with me? I'm sure it is something simple I am missing.

[2020-04-21 19:51] callahantiff opened #33 "HELP - Verifying Wiki Content"
Thanks so much for being willing to help with this @jwyrwa!

I am hoping that you would be willing to proof each of the following Wiki pages listed below to verify I have removed all spelling/grammar errors and to make sure that the content makes sense to you (i.e. if you were trying to use this repo would would know what to do):
- [x]  [Home](https://github.com/callahantiff/PheKnowLator/wiki/Home

[2020-04-21 21:58] jwyrwa commented on #33
[Home](https://github.com/callahantiff/PheKnowLator/wiki/Home)
- [ ] 'Data for this release can be downloaded [here](https://github.com/callahantiff/PheKnowLator/wiki/v2.0.0#generated-output)' - This link doesn't scroll like I think you were expecting. It looks like the URL might need to be [this](https://github.com/callahantiff/PheKnowLator/wiki/v2.0.0#generated-output---)
- [ ] 'We presented thi

[2020-04-21 22:04] callahantiff commented on #33
Good catch! I have updated both URLs.

[2020-04-22 19:54] jwyrwa commented on #33
[KG Construction](https://github.com/callahantiff/PheKnowLator/wiki/KG-Construction)

- [ ] "The OWLTools command line tool is used to download all ontologies. " - dead link

- [ ] "This tool is useful because it ensures that all ontologies imported by the ontology being downloaded are also downloaded and merged together." -- Would it be accurate saying something like this instead to be more clear

[2020-04-22 20:19] callahantiff commented on #33
@jwyrwa - very helpful, thank you!! I have updated everything to reflect what you commented on. The following two points you made:
- [ ]  [Construction Approach](Construction Approach) - this links back to the KG Construction page, making a loop. I'm confused.
- [ ]  "https://reactome.org/content/detail/" - broken link

Are actually OK and functioning fine.

For the point about the source labels,

[2020-04-23 22:58] callahantiff commented on #2
Very happy to say that this is done! Timestamp benchmark, testing coverage @ 89%.

[2020-04-23 22:58] #2 closed

[2020-04-23 23:01] callahantiff commented on #30
**UPDATE:** sonar cloud and codacy have updated, but code climate measure is still not able to connect to the web app.

[2020-04-23 23:37] callahantiff opened #35 "CTD Data Source - CAPTCHA"
**Issue:** CTD now has a CAPTCHA is place to prevent automatic downloading of data. This impacts the current build as there is no solution currently in place to work around this.

**Temporary Workaround:** All CTD data sources need to be manually downloaded to the `resources/edge_data` repo prior to running the download step of the build. The downloaded file also needs to be unzipped and have the

[2020-04-24 13:33] jwyrwa commented on #33
Yup.

[2020-04-24 14:12] jwyrwa commented on #33
Should OWL always be all caps? 'owl' is used in some cases.

[2020-04-24 14:14] callahantiff commented on #33
It should be all caps. Are the lowercase uses in code blocks? If so, that's OK.

[2020-04-24 14:44] jwyrwa commented on #33
[OWL NETS 2.0](https://github.com/callahantiff/PheKnowLator/wiki/OWL-NETS-2.0)

- [ ] I tried putting a dash in the title of the page, but it won't stick :(

- [ ] "A json file or dict() mapping an owl:Class to an instance of the owl:class (primarily used for PheKnowLator, for example:" - should both be 'Class' or 'class'? Is there a missing parenthesis?

[2020-04-24 14:50] callahantiff commented on #33
- If you are talking about the header at the very top of the WIki page, then yeah that's something we can't change. Thanks for trying though!

Ahh, this part actually needs to be removed to reflect the refactoring I did to simplify this method. I have updated that section now. Thanks for catching that!

[2020-04-24 14:53] jwyrwa commented on #33
[Reasoner Evaluation](https://github.com/callahantiff/PheKnowLator/wiki/Reasoner-Evaluation)
- I made a few grammar changes.
- I love the name 'Chainsaw' for a reasoner.
- I added my degree to throw a little more weight onto that last part.

[2020-04-24 15:03] callahantiff opened #36 "HELP - Verifying README Content"
Thanks so much for being willing to help with this too @jwyrwa! 🙏

I am hoping that you can proof each of the following README pages (listed below) to verify it's free of spelling/grammar errors and to make sure that the content makes sense (i.e. if you were trying to use this repo you this content would be helpful):
- [x]  [README](https://github.com/callahantiff/PheKnowLator/blob/master/README.r

[2020-04-24 16:35] jwyrwa commented on #33
[v2.0.0](https://github.com/callahantiff/PheKnowLator/wiki/v2.0.0)
- [ ] "Added Data_Preparation.ipynb Jupyter Notebook to aid in creation of mapping, filtering, and labeling datasets
Added Ontology_Cleaning.ipynb Jupyter Notebook to aid in creation of mapping, filtering, and labeling datasets" - these both do the same thing? Could I just collapse it into "Added Data_Preparation.ipynb and Ontology

[2020-04-24 16:44] callahantiff commented on #33
Fixed, the text should not have been the same. Thanks for catching that!

Fixed!

Fixed!

Yes, sorry, these links will be down until results are finished.

Yes, sorry, these links will be down until results are finished. They will point to different things.

[2020-04-24 18:48] jwyrwa commented on #33
[v2 Data Sources](https://github.com/callahantiff/PheKnowLator/wiki/v2-Data-Sources)
- I'm not even going to pretend that I understood even 1% of this page.

- [ ] "ALL_SOURCES_ALL_FREQUENCIES_diseases_to_genes_to_phenotypes.txt" - 404 error

- [ ] "compath_cannonical_pathway_mappings.txt" - mismatch between display name and file name. Not sure which is correct.

- [ ] "[Protein Ontology](https://

[2020-04-24 20:15] jwyrwa commented on #36
[README](https://github.com/callahantiff/PheKnowLator/blob/master/README.rst)

- [ ] "The PyPi package will not be completely functional until this release is finalized." - should this be PyPI?

- [ ] "Please see the Data_Preparation.ipynb Jupyter Notebook for detailed examples of the steps used to build the v2.0.0 knowledge graph." - this links to v1.0.0 KG

- [ ] "please see the knowledge graph

[2020-04-24 20:25] jwyrwa commented on #36
[construction_approach](https://github.com/callahantiff/PheKnowLator/blob/master/resources/construction_approach/README.md)
- [ ] "A pickled dictionary where the keys are node identifiers (non-ontology node data) and the values are lists of ontology class identifiers to subclass has been added to the ./resources/construction_approach/ directory." - either I'm reading this wrong or there's word(s)

[2020-04-24 20:29] jwyrwa commented on #36
[edge_data README](https://github.com/callahantiff/PheKnowLator/blob/master/resources/edge_data/README.md)

- [ ] "edge_source_list.txt", "resources/edge_data/ chemical-disease_CTD_chemicals_diseases.tsv chemical-gene_CTD_chem_gene_ixns.tsv chemical-phenotype_CTD_chemicals_diseases.tsv chemical-protein_CTD_chem_gene_ixns.tsv" - are these all meant to be links?

[2020-04-24 20:42] jwyrwa commented on #36
[embeddings README](https://github.com/callahantiff/PheKnowLator/blob/master/resources/embeddings/README.md)
- [ ] "Jupyter Notebook: Main.ipynb" - 404

- [ ] "an implementation of the original algorithm in C ++, with some improvements to speed up initialize the hierarchical softmax tree that was developed by Anton Tsitsulin." - this sentence makes sense up until "up".

- [ ] "For the Headers, the

[2020-04-24 20:51] jwyrwa commented on #36
[knowledge_graphs README](https://github.com/callahantiff/PheKnowLator/blob/master/resources/knowledge_graphs/README.md)
- nada, looks great!

[2020-04-24 20:54] jwyrwa commented on #36
[node_data README](https://github.com/callahantiff/PheKnowLator/blob/master/resources/node_data/README.md)
👍

[2020-04-24 21:05] jwyrwa commented on #36
Done!

[2020-04-24 21:18] callahantiff commented on #33
Thank you so much @jwyrwa !! This was incredibly helpful I have made all suggested changes and will now close this issue!

[2020-04-24 21:18] #33 closed

[2020-04-24 21:29] callahantiff commented on #36
Thanks so much @jwyrwa for all of your edits, I really appreciate it!!!

[2020-04-24 21:29] #36 closed

[2020-04-26 08:59] LucaCappelletti94 commented on #30
Sorry for the delay, I am now available to debug this.

[2020-04-26 17:28] callahantiff commented on #30
@LucaCappelletti94 - thanks so much! I pinged you on Gitter about finding a time to meet.

[2020-04-27 14:32] callahantiff opened #37 "TODO: Create YouTube PKT Video"
**TODO:**
- [ ] Create a YouTube video that provides a walk through the repo and includes examples of:
  - Where to find a current build's data
  - How to build the project from PyPi vs. command line vs. Jupyter Notebook vs. Docker

[2020-04-27 14:34] callahantiff opened #38 "TODO: Handle Redirects to PKT domain"
**TODO:**
- [x] Set-up pkt domain and handle redirects for all used data files

[2020-04-27 14:36] callahantiff opened #39 "TODO - Project Organization: Neo4J Pricing"
**Task:** Research Neo4J Implementations

**Description:** Work with @bill-baumgartner to decide on how to host pkt KGs. Specific things to decide on include:
  - [x] What Neo4J product
  - [x] Implemented via Google Cloud or some other means?

[2020-04-27 15:09] callahantiff commented on #30
Thanks again for all your help @LucaCappelletti94 ! We will stick with the coverage we have now.

[2020-04-27 15:09] #30 closed

[2020-04-27 15:17] callahantiff commented on #35
**RESOLUTION:** Worked with CTD and for now, they have agreed to lift the constraint on CAPTCHAs, assuming they don't experience anymore attacks.

[2020-04-27 15:17] #35 closed

[2020-04-28 01:22] callahantiff opened #40 "Multi-Stage Docker Build -- Not Runnable Outside of Container"
The multi-stage Docker container is runnable from within the container, but is not runnable from outside of the container. No error message is generated, but container hangs in `main()` and never seems to instantiate the first class in the workflow.

***
Dockerfile Location: https://github.com/callahantiff/PheKnowLator/blob/adding_docker/Dockerfile

***

**Updates:**
- [x] Docker runs successfully

[2020-05-04 23:43] callahantiff opened #43 "TODO: Publish Docker to Docker Hub"
Publish Docker to [Docker Hub](https://hub.docker.com/), when creating v2.0.0 release.

[2020-05-04 23:46] callahantiff commented on #40
Thanks to @bill-baumgartner - Docker is now fully functional!

***

Just for archiving purposes, the following commands are used when interacting with the container:

<br>

_BUILD CONTAINER_
[code]

_RUN pkt FROM OUTSIDE CONTAINER_ (example)
[code]

_RUN pkt FROM INSIDE CONTAINER_ (example)
[code]

[2020-05-04 23:46] #40 closed

[2020-05-04 23:47] callahantiff commented on #43
Update README for how to use project Docker. Good examples from @bill-baumgartner included below:

https://github.com/UCDenver-ccp/craft-shared-tasks/wiki/Concept-Annotation-Task-Evaluation

https://github.com/UCDenver-ccp/craft-shared-tasks/wiki/Building-the-CRAFT-evaluation-Docker-container

[2020-05-05 00:12] callahantiff opened #45 "Publish code to PyPI"
### TASK
**Task Type:** [`PKT DATA DELIVERY`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636129)

Upload and complete process to push `pkt` to [PyPI](https://pypi.org/)

#### TODO
- [x] Add package deployment to GitHub Actions workflow. Details provided [here](https://github.com/pypa/gh-action-pypi-publish)

[2020-05-05 20:06] callahantiff commented on #43
@bill-baumgartner  - I am drafting the content that we will ultimately add to the README for utilizing Docker. I thought I would run it by you here. Would you mind taking a look at let me know what you think?

**Notes**
- The DockerHub link is not yet active and will be updated with the correct link once our container is uploaded.
- References to "above" will make sense once this information is ad

[2020-05-05 21:30] bill-baumgartner commented on #43
Looks good. I have three comments:
1) There is a missing dot at the end of the docker build command, it should be:
`docker build -t pkt:[VERSION] .`
2) The `docker run` command can work from any directory so "run the following code from the project root (i.e. PheKnowLator/):" is not necessary, and may not be possible if the user doesn't download the PheKnowLator code.
3) I think the Dockerfile nee

[2020-05-05 21:34] callahantiff commented on #43
Thanks @bill-baumgartner! I have fixed the first two points and will work on the third. I need to think about what assumptions we will impose when utilizing the `COPY` approach. I will put it on the list for our meeting tomorrow.

[2020-05-06 21:42] callahantiff opened #46 "Update Dockerfile"
See issue #43 - Need to update current `Dockerfile` to copy `pkt` repo rather than cloning from GitHub.

[2020-05-06 21:44] callahantiff opened #47 "Create Docker Container for Neo4J instance"
Create a new `Dockerfile` that contains a Neo4J instance for each OWL-NETS version of the parameterized KGs.

[2020-05-08 19:19] callahantiff commented on #46
Done!

[2020-05-08 19:19] #46 closed

[2020-05-12 02:41] callahantiff opened #49 "TODO: Export/Create Link to GCP Instance Template"
**Tasks:** Provide link to Google GCP instance in order to make it easier for users who want to run the Docker container.

**Resource:** [Google Instance Templates](https://cloud.google.com/compute/docs/instance-templates)

[2020-05-12 02:45] callahantiff commented on #39
**Update:** Per discussion with @bill-baumgartner, we will be releasing a Docker container-hosted Neo4J instance for each KG build parameterization.

[2020-05-13 15:46] callahantiff commented on #28
**Closing:** doesn't really make sense given functionality added for `construction_approach`

[2020-05-13 15:46] #28 closed

[2020-05-13 16:12] callahantiff opened #50 "Handling Unicode Encoding Errors in Ontology Metadata"
**Problem:** unicode errors occurring when writing out knowledge graph metadata locally --depending on the OS and Python version used.

**Script:** `metadata.py`

**Current Solution:** encode/decode ontology term labels, definitions, and synonyms and explicitly ignore `UnicodeEncodeError`.

**Proposed Solution:** Add functionality to better handle processing of `UnicodeEncodeError`

[2020-05-13 16:20] callahantiff opened #51 "Cannot Apply OWLAPI Formatting to Very Large KGs"
**Problem:** When applying OWLAPI formatting to very large KGs ~86 million triples (i.e. subclass  + inverse relations KG and adding non-ontology metadata) OWLAPI hangs and process never completes. See error message from Dave Farrell below:

**Script:** `knowledge_graph.py`

**Current Solution:** Not adding non-ontology metadata to KG and leaving the rest of the KG build workflow in tact. All onto

[2020-05-13 16:44] callahantiff commented on #51
**Update:** In addition to seeing this error on Tantor, I have replicated it on a GCP instance with more than 2x as much memory.

[2020-05-13 22:46] ignaciot commented on #51
Wanna try this on fiji? I can help with the job setup.

-i

On Wed, May 13, 2020 at 10:45 AM Tiffany J. Callahan <
notifications@github.com> wrote:

[2020-05-13 23:04] callahantiff commented on #51
Hey @ignaciot! We certainly could, although I think running a Docker container on Fiji is not super straight forward. The Docker container is running fine on the Google GCP instance I built. This issue is more related to some weirdness with the OWLAPI and the fact that I think we might be trying to run a graph bigger than has ever been tested on the tool.

We have a good work around for now, so I

[2020-05-14 00:27] ignaciot commented on #51
Ahh gotcha. Yes, we might have to try it using singularity in that case,
I’ll leave it alone then!

-i

On Wed, May 13, 2020 at 5:04 PM Tiffany J. Callahan <
notifications@github.com> wrote:

[2020-05-14 00:38] ignaciot commented on #50
I've generally had success with this (ugly) method, to default reading input as UTF8:

[code]

[2020-05-14 17:39] callahantiff commented on #50
Thanks for the suggestion! I think this really only applies to Python 2, but it's good to know about!

I believe I have a solid solution now (testing at scale as we speak) and will post it here once the test finishes.

[2020-05-14 22:45] callahantiff commented on #50
OK, I have the solution, which will work for all unicode characters, including characters in foreign languages. The changes I made are described below for each changed script.

<br>

**`Dockerfile`**
- Add the following line to ensure that the Python environment within the Docker container has the correct encoding

[code]

<br>

**`pkt_kg/metadata.py`**
- Modifying the `output_knowledge_graph_meta

[2020-05-14 22:45] #50 closed

[2020-05-16 03:29] callahantiff opened #52 "Wiki: Update v2.0.0 data source hyperlinks"
**Task:** Make sure that all data source links are updated on the Wiki and throughout repo for current build.

[2020-05-16 19:44] callahantiff commented on #52
**Update:** Upload all data referenced in Wiki and used in current build to Zenodo and associate it with the the GitHub release.

[2020-05-19 18:10] callahantiff commented on #38
Linked to issue #52. Will be replacing DropBox links with Zenodo links, provided when publishing `v2.0.0` release.

[2020-05-19 18:10] #38 closed

[2020-05-19 18:13] callahantiff opened #53 "TODO: Move print statements to logging"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

There are a lot of print statements created during the KG build that provide useful information as well track build progress. Most of these should be moved to logging.

#### TODO
- [ ] Move all print statements and processing to logging

[2020-05-21 20:54] callahantiff opened #54 "TODO: Finalize KG Construction Survey"
I am working on the qualitative component of our evaluation and am requesting your review of a Google Form I created to help organize this information.

**TODO:** Please take a look at the Google Form (link to form can be found **[`here`](https://docs.google.com/document/d/1ykgMNMFBLUOoWIChidtBJDPKf_GojxuXIU7MJoff4hM/edit?disco=AAAAGiqskGE)**) and let me know if you have any edits by **11:59pm on

[2020-05-21 21:51] LEHunter commented on #54
Pointer was to the paper, not a form.

On May 21, 2020, at 2:54 PM, Tiffany J. Callahan <notifications@github.com<mailto:notifications@github.com>> wrote:

I am working on the qualitative component of our evaluation and am requesting your review of a Google Form I created to help organize this information.

TODO: Please take a look at the Google Form (link to form can be found here<https://docs.go

[2020-05-21 22:01] LEHunter commented on #54
I found it.  Looks quite comprehensive. A few thoughts:  In section 3, some systems don’t have explicit releases.  In section 5, do you want to check for clinical data sources?  I’m not sure what the Scale question means — perhaps something about Maximum size of inputs?  Also maybe number of inputs (can it assemble multiple ontologies into a coherent KG)? In section 6 I might add cloud compatibili

[2020-05-21 22:22] callahantiff commented on #54
Thanks @LEHunter!

I went ahead and made the following changes:
- **Section 3:** I added language to include "release" and "version"
- **Section 5:**
  - I added clinical data
  - I added a question to handle number of inputs
  - I think the preview version of the form is confusion. I am only including "Yes", "No", and "Other" as response options
- **Section 6:** I added cloud compatibility
- **Se

[2020-05-22 15:29] LEHunter commented on #54
Yes, quite comprehensive. .

On May 21, 2020, at 4:23 PM, Tiffany J. Callahan <notifications@github.com<mailto:notifications@github.com>> wrote:

I found it. Looks quite comprehensive. A few thoughts: In section 3, some systems don’t have explicit releases. In section 5, do you want to check for clinical data sources? I’m not sure what the Scale question means — perhaps something about Maximum siz

[2020-05-22 19:21] bill-baumgartner commented on #54
* Section 1: Most recent date of interaction with code repository
  * do we need a ">1 year" response?
* Section 2, step 1
  * is this separate from instructions for how to download data?  Must it be an automatic process?
* Section 2, steps 2/3
  * can't an edge list or edge set be considered a knowledge graph? What's the distinction?
* Section 5
  * do you want to capture the data sources used by

[2020-05-23 00:06] callahantiff commented on #54
Thanks @bill-baumgartner! These are great suggestions! I went ahead and
- **Section 1:** Great catch, I added "> 1 year"
- **Section 2, step 1:**  I added two versions of "Yes" to capture whether or not the process was automated
- **Section 2, steps 2/3:** You could theoretically have edge lists that were disjoint and thus could not be combined into a KG. Most of the methods I have seen seem to ha

[2020-05-26 19:30] callahantiff commented on #54
@LEHunter and @bill-baumgartner
Last task, I'd like to run the list of methods I will apply the survey to by you (n=25 methods). You can find the list with links [`here`](https://docs.google.com/spreadsheets/d/1qs178i8Il67rfYUAnMlnjB-5ewexhkKlJ-yrRJhe0M8/edit#gid=1126641709&range=A2:F27). Please be patient when opening this link, it works but may take a few seconds to load.

[2020-05-26 21:52] bill-baumgartner commented on #54
I was confused until I scrolled and saw the `Eligible` column. That is quite a list! Looks good overall. I see you have one called `Metabolomics-in-SPOKE`. Should you also include [SPOKE](https://spoke.ucsf.edu/) itself?

[2020-05-26 21:53] callahantiff commented on #54
I would, but they don't seem to have a public repository. I'm happy to list that as the reason they are not included though.

[2020-05-26 21:54] LEHunter commented on #54
Yep, do say that.  They say they are going to release a COVID SPOKE, but I haven’t seen that either.

On May 26, 2020, at 3:53 PM, Tiffany J. Callahan <notifications@github.com<mailto:notifications@github.com>> wrote:

I was confused until I scrolled and saw the Eligible column. That is quite a list! Looks good overall. I see you have one called Metabolomics-in-SPOKE. Should you also include SPOKE

[2020-05-26 22:00] callahantiff commented on #54
OK, I think we can close this now. I will work on completing the survey over the next week. Thank you both for your help!

[2020-05-26 22:00] #54 closed

[2020-06-08 18:56] callahantiff commented on #52
Make sure that links are also updated in each releases Jupyter Notebooks:
- `main.ipynb`
- `Ontology_Cleaning.ipynb`
- `Data_Preparation.ipynb`

[2020-06-08 19:01] callahantiff commented on #52
Also, replace dropbox links with links to zenodo used when downloading the data sources:
- `resources/resource_info.txt`
- `resources/ontology_source_list.txt`
- `resources/edge_source_list.txt`

[2020-09-24 23:00] callahantiff opened #55 "Verify KG Output File Types"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Improve the naming of generated data and verify output file types we will provided for each build.

#### TODO

**Problem:**
- [x] Add `n-triples` format for OWL-NETS builds
- [x] Check input file specifications for GraphDB
- [x] Check input file specifications for Neo4J
- [ ] Fix OWL-NETS b

[2020-09-24 23:06] callahantiff opened #56 "Coding: Improve storage of original triples when running OWL-NETS"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Improve the storage of removed OWL semantics when running [OWL-NETS](https://github.com/callahantiff/PheKnowLator/wiki/OWL-NETS-2.0) version of the build. Remove dictionary constraint for something network-based.

#### TODO
- [ ] Come up with a better solution to handle triples removed from

[2020-09-30 16:21] callahantiff opened #57 "Bug: Instance-based OWL-NETS build have anonymous nodes"
**Bug:** Thanks to @MSBradshaw for noticing that the OWL-NETS code, applied to the instance-based builds, includes blank nodes.

**TODO:** Clean up code to identify what the blank nodes are and add tests to catch this type of error in the future. Potential fixes could be something as simple as needing to replace the instance URI with the node URI that is represented by that instance.

[2020-09-30 17:36] callahantiff commented on #57
Looks to impact the `updates_class_instance_identifiers()` method in `owlnest.py` (`lines: 88-111`).

[2020-09-30 23:22] callahantiff opened #58 "Add integer and identifiers to node metadata"
**Problem:** Right now the node metadata that is output is keyed by an identifier, which means if you use the integer edge lists, but want node labels you have to use the provided dictionary that maps node integers to identifiers first.

**Solution:** In the next iteration, I will add a new column that includes the identifier and the integer. Examples of each output are shown below.

**An example

[2020-10-01 16:53] #57 closed

[2020-10-01 17:55] callahantiff commented on #58
- [ ] Add relation information to metadata file. Will require a simple helper method to parse the graph and obtain relation labels

[2020-10-02 16:28] callahantiff opened #60 "Other: Add sparse KG representation output"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

### TODO
- [ ] Consider including an additional KG output format that is sparse. A sparse representation is needed for most graph representation learning algorithms and significantly decreases the time to load the graph into memory

**Libraries to Consider:** [CSRGraph](https://github.com/V

[2020-10-09 21:06] zmaas opened #61 "Other: Also use persistent RDFlib store for output graphs"
Once a graph has been built, it may be useful to also import the resulting `.owl` file into an RDFlib persistent store. Use of a persistent store allows for the graph to be accessed using RDFlib without having to import the entire structure into memory, which may be advantageous when working with large graphs. Below is a sample implementation that uses the Berkeley Database as a persistent backend

[2020-10-11 19:49] callahantiff commented on #61
Thanks so much @zmaas! This is great. I will plan to leave this issue active until we can address it during the rebuild next month. Assuming it's OK with you, I will circle back to you when we are in the re-implementation stage?

[2020-10-11 19:50] callahantiff opened #62 "Enhancement: Improve Networkx MultiDiGraph Metadata"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Improve the node and edge metadata when outputting the Networkx MultiDiGraph versions of each build. Thanks to @rkboyce, who suggested that we could make very small changes to the current Network graph and drastically improve the usability of the output structure.

#### TODO
**Impacted Scri

[2020-10-12 00:10] callahantiff commented on #58
Verify node identifiers in output metadata, formatting for ensemble transcripts looks a bit off

[2020-10-17 16:39] callahantiff commented on #47
@bill-baumgartner - per our discussion via Slack can I confirm you are still willing to help with this?

[2020-10-17 16:41] callahantiff commented on #58
- [ ] weird content in output file, need to verify output form ontologies against new edges we add to isolate bug.
- [ ] Also want to think critically about how to add dbxrefs. May not be for `v2.0.0`, but I think adding this information will increase the usability of the result KG and make it easier for people to extend the KG with new data sources

[2020-10-17 16:43] callahantiff commented on #39
Closing this for now, I think we have alternative workarounds that will suffice :D

[2020-10-17 16:43] #39 closed

[2020-10-17 16:45] callahantiff commented on #12
Closing this issue here since this work has been moved to the [OMOP2OBO Project](https://github.com/callahantiff/OMOP2OBO) - **[`here`](https://github.com/callahantiff/OMOP2OBO/issues/34)**

[2020-10-17 16:45] #12 closed

[2020-11-24 17:26] callahantiff commented on #58
- [ ] Export a dictionary for each node in the KG that contains two inner keys (i.e. `edge type` and `node type`) that can be used as a high-level way to organize the output data. This should be VERY simple to create for all builds.

A brief example of what this would like for node identifier `rs201492213` is shown below:

`node_type` = 'variant'
`edge_type` = ['variant-phenotype', 'variant-gene']

[2020-12-01 18:49] callahantiff commented on #47
@bill-baumgartner - are you still willing to help me with this? I liked the idea you slacked me about a few weeks ago, if that's still on the table? 😄

[2020-12-01 19:06] callahantiff opened #64 "TODO: Update DOID nodes with MONDO Identifiers"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)
Update all `DOID` identifiers with `MONDO` identifiers

### TODO
**Script(s) Impacted:**  `Data_Preparation.ipynb`

**Proposed Solution:**
- [ ] Add small function to notebook that pulls all DbXRefs from `MONDO` to `DOID` and store as a dictionary
- [ ] Add dictionary with mappings to Wiki

[2020-12-01 19:24] #51 closed

[2020-12-04 00:45] princeew opened #65 "Coding: Add Jupyter Notebook to Dockerfile"
**Enhancement**: It would be useful to add Jupyter notebook to Dockerfile to facilitate running example notebooks within a Docker container. This would also include an updated Docker usage example in the README. I'm happy to put forth a pull request with this if you'd like @callahantiff, just let me know. The work you're doing is very cool!

[2020-12-04 17:03] callahantiff opened #66 "Migrate from Travis CI to GitHub Actions"
### Task
**Task Type:** [`INFRASTRUCTURE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51635998)
TravisCI is no longer free and a new CI framework is needed. Github has provided some documentation on how to do this [here](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions)

#### TODO
- [x] Migrate from TravisCI t

[2020-12-04 22:02] callahantiff opened #67 "Preparing for ISMB Bio-Ontologies Task"
### Task
Complete the needed tasks in order to get PheKnowLator prepared for the 2021 ISMB Bio-Ontologies Challenge. The specific tasks are organized and described below.

#### SPARQL Endpoint
Not sure this is <u>actually</u> needed to support the challenge, but if it is, we need to answer the following question:
- [ ] What do we use?
- [ ] Where do we host it?
- [ ] Do we want to think about usin

[2020-12-08 20:29] callahantiff commented on #67
@bill-baumgartner - confirmed the following details with Rob H this morning:
- OK, SPARQL Endpoint primarily used for evaluation, OK to provide KG data in other formats
- Onboard with also providing a baseline embedding method

[2020-12-18 16:31] callahantiff commented on #65
Hi @princeew! So sorry for the delay in responding to you. Thank you very much for this suggestion. We about to spend the next few weeks overhauling some of the workflow and infrastructure.

Why don't I reach back out to you once that's complete? I'd love to get your feedback on the changes and we could talk about implementing the work you suggest?

[2020-12-18 16:33] callahantiff commented on #67
@bill-baumgartner - I am going to close this and open some new issues that will cover this and the work we discussed last night.

[2020-12-18 16:33] #67 closed

[2020-12-21 21:27] callahantiff opened #68 "Setting Up and End-to-End CI/CD Framework"
### Task
Determine which tools we will use in order to set-up an end-to-end CI/CD framework.

**Task Type:** `Infrastructure`

**Specs:** The requirements for this system include:
- Leveraging GitHub Actions to:
  - Test the codebase
  - Downloaded needed resources and build the Docker Container
  - Deploy and run the Docker container via Google Cloud Run (one for each KG build type).
  - Returnin

[2020-12-21 21:33] callahantiff commented on #43
@bill-baumgartner - Do we need to have two versions 1 for the CI/CD and one that people can download independently and run on their own? Perhaps we can just publish one to DockerHub and that can fulfill both use cases?

[2020-12-21 21:40] callahantiff commented on #45
**Update:** Add package deployment to GitHub Actions workflow. Details provided [here](https://github.com/pypa/gh-action-pypi-publish).

[2020-12-21 22:13] callahantiff opened #69 "Set-up SPARQL Endpoint"
### TASK
**Task Type:** [`PKT DATA DELIVERY`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636129)

Select and set-up a SPARQL endpoint for exploring KG build data

#### TODO

- [x] Pick an endpoint. [Here](https://medium.com/wallscope/comparing-linked-data-triplestores-ebfac8c3ad4f) is a Medium article that compares and contrasts existing triplestores. Considering what we care a

[2020-12-21 22:14] callahantiff commented on #69
### OTHER TASKS
- [ ] Configure with CI/CD
- [ ] Figure out where to host it

[2020-12-21 22:19] callahantiff commented on #52
### TASK
Need an easy to keep WIKI page and associated data dump to Zenodo organized or updated for each build. Ideally, it would be nice to have a WIKI page for each major release that points to separate Zenodo URLs to store the data for each build under that release.
- Seems feasible to do this using the [Zenodo API](https://developers.zenodo.org/)
- There does not seem to be an easy way to upda

[2020-12-21 22:26] callahantiff opened #70 "Configure Google Cloud Storage"
### TASK
**Task Type:** [`PKT DATA DELIVERY`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636129)

Use [Google Cloud Storage](https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwi7po-yyOLtAhXPwMAKHaHXAW8YABABGgJpbQ&ohost=www.google.com&cid=CAESQOD2LbD6PYbiY_dRGpdEviRONsIl_TIk8CnocpjUZhoV1IT8yDJhc0YhP8slczqDPY0MqQYQgqCUwLzv0fijB80&sig=AOD64_0SRUWhzfKj80R0vIgeDeSWnaXKDw&q&

[2020-12-21 22:34] callahantiff opened #71 "Add Baseline KG Embeddings To CI/CD"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Create code that generates a single set of baseline embeddings for each KG build output by PheKnowLator. This code should be run as part of the CD/CI

#### TODO
- [ ] Choose an embedding method
  - [CSR + Node2Vec](https://gist.github.com/callahantiff/9c42f14699a45d2e43cac154947fcd84)
  - [

[2020-12-21 22:36] callahantiff opened #72 "Convert Data Preprocessing Jupyter Notebook to Script"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Convert the code in the [`Data_Preparation.ipynb`](https://github.com/callahantiff/PheKnowLator/blob/master/Data_Preparation.ipynb) into a script that can be run as part of the KG CI/CD build.

#### TODO
- [ ] Convert notebook to script
- [ ] Write tests against script
- [ ] Integrate scrip

[2020-12-21 22:38] callahantiff opened #73 "Convert Ontology Cleaning Jupyter Notebook into Script"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Convert the code in the [`Ontology_Cleaning.ipynb`](https://github.com/callahantiff/PheKnowLator/blob/master/Ontology_Cleaning.ipynb) into a script that can be run as part of the KG CI/CD build.

#### TODO
- [ ] Convert notebook to script
- [ ] Write tests against script
- [ ] Integrate scr

[2020-12-21 22:43] callahantiff opened #74 "Determine KG Baseline Format"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Re-think what should be included in the base set of merged ontologies prior to adding edge data.

#### TODO
- [x] Determine how to handle merged ontologies (base KG)
  - Process base KG to remove all node and edge metadata by removing it and storing it
  - Remove all annotation properties a

[2020-12-21 22:54] callahantiff commented on #47
### TASK
**Task Type:** [`INFRASTRUCTURE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51635998)
Configure Neo4J to work with Docker container and CI/CD framework

#### TODO
- [ ] Decide on what [Neo4J](https://neo4j.com/) services to use
  - Bloom?
  - Aura?
- [ ] Configure with Docker Container
- [ ] Integrate with GitHub Actions CI/CD (#68)

[2020-12-21 22:59] callahantiff commented on #49
### TASK
**Task Type:** [`INFRASTRUCTURE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51635998)
Decide whether or not to publish the [GCP Instance Template](https://cloud.google.com/compute/docs/instance-templates) just in the builds

#### TODO
- [ ] Decide whether or not to publish template
- [ ] If published, update README

**Questions:**
- Similar to publishing the Docker Cont

[2020-12-21 23:13] callahantiff commented on #58
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Improve the output metadata for nodes and edges in the knowledge graph

### TODO
The following items have been condensed from the issues above.
- [ ] Add a new column that includes the identifier and the integer (example shown [here](https://github.com/callahantiff/PheKnowLator/issues/58#is

[2020-12-22 01:21] #66 closed

[2020-12-22 17:17] bill-baumgartner commented on #47
Looks like [Aura has Bloom built-in](https://neo4j.com/press-releases/neo4j-aura-for-google-cloud-platform-ga/) so that seems like the way to go for hosting a public Neo4j instance. Do you think hosting one version in Neo4j is adequate? Or do we need to host multiple versions? As far as I can tell, we don't we need a Docker image to host in Aura, so maybe we should split the hosting work out into

[2020-12-22 18:56] callahantiff opened #77 "Handling MESH-CHEBI Mappings"
### TASK
**Task Type:** [`CODEBASE`](https://github.com/callahantiff/PheKnowLator/projects/8#card-51636107)

Decide how to handle `MESH` to `CHEBI` mappings. Currently there is a GitHub Gist ([`ncbo_rest_api.py`](https://gist.github.com/callahantiff/a28fb3160782f42f104e9ec41553af0d)) that pings the [BioPortal API](http://data.bioontology.org/documentation) into a script that can be run as part of

[2020-12-22 19:25] callahantiff commented on #69
**Follow-up**
- How many concurrent queries can be run from each service on free plan? This matters if we are making this available to the public or just using it for the challenge

[2020-12-22 19:53] callahantiff commented on #52
**Alternatives**
- Using Google Cloud Storage (GCS) instead of Zenodo -- 1 bucket with dated subdirectories to store each build. Look into archival back-up storage options as well. This would let us have automatic updated build information and provide the following things:
  - Source data used to build the KG
  - Built KG output

<br>

**Container Storage**
Docker container for each KG build type

[2020-12-22 21:43] callahantiff commented on #77
This work impacts issue #72 because of its reference in the associated Jupyter Notebook.

[2020-12-22 23:13] callahantiff commented on #56
@LEHunter - Would love your opinion on the property graph created by OWL2Vec* and what we do with OWL-NETS (V2 described [here](https://github.com/callahantiff/PheKnowLator/wiki/OWL-NETS-2.0)). Seems like we are creating a more extreme version. Perhaps we should call OWL-NETS something other than a property graph?

I'm tempted to import their method to derive their property graph version so we can

[2020-12-23 21:04] callahantiff commented on #70
This is what I am proposing for organizing the GCS bucket:

[code]

For `release_v.1.0` data, I will update it once this work is complete and add files from past builds so that I am no longer responsible for maintaining them via my DropBox.

*meant to symbolize each monthly build

<br>

**GCS Permissions Setting:** I was thinking of setting the bucket `pheknowlator` directory and all subsequent di

[2020-12-23 21:33] bill-baumgartner commented on #70
I like the directory structure.  Do you expect to host other data aside from KG builds here? If not, then the `knowledge_graph_builds/` directory is probably not required.

It looks as though we can specify the storage class on a per-object level, and we can use [Object Lifecycle Management](https://cloud.google.com/storage/docs/lifecycle) rules to change the storage class over time. So, a newly b

[2020-12-23 21:52] LEHunter commented on #56
I'm not sure I understand your question.  A "property graph" as far as I can tell is just a graph with typed and directed edges.

I totally agree about including the OWL2VEC* method in the graph builds for comparison purposes.  I'd be surprised if paper reviewers didn't insist on it anyway.

[2020-12-23 22:03] callahantiff commented on #56
Thanks @LEHunter! I think I was focused on the wrong thing. I agree that we are good on this.

Sounds good. Depending on how easy/hard it is to import their code (it's not the easiest to read), I may not formally include it as a build parameter for the next build. That said, we will plan to include it for the paper.

[2020-12-23 22:04] callahantiff commented on #70
I was thinking about that too. I'm guessing not, if we wanted to store a primary docker container or something like that, it wold likely be at the release-level. I will modify the figure to remove the `knowledge_graph_builds/` directory.

<br>

Awesome, this is perfect.

_____

✔️   I will go ahead and get this set-up now. It will allow me to start modifying/creating code we will need to support t

[2020-12-24 07:10] #64 closed

[2020-12-26 20:46] callahantiff opened #79 "Need pkt Build Framework Overview Figure"
### TASK
Need to create a figure that provides an overview of the `pkt` knowledge graph construction framework

#### TODO
- [x] Finish edits to build, including the CI/CD framework
- [x] Draft overview figure and get feedback from team

[2020-12-26 21:00] callahantiff opened #80 "Create Notebook to Enable pkt use in Efforts like HuBMAP"
### TASK
Some of the [Human BioMolecular Atlas Program (HuBMAP)](https://commonfund.nih.gov/HuBMAP/fundedresearch) sites are interested in being able to utilize specific edge sets from the OWL-NETS builds of `pkt`. This will be significantly easier for us to assist with and support longterm after the new CI/CD framework is up and running. To make it easy for site to use we need to build a notebook

[2020-12-26 21:08] callahantiff commented on #68
#### TODO
- [ ] Script out data download and write to GCS (TASK 1)
  - If any failure in download, default to last build's version of downloaded data and log issue
- [ ] Script out preprocessing of LOD and Ontology data (TASK 2)
  - Log any issues
  - Output updated `resource_info.txt`, `edge_source_list.txt`, and `ontology_source_list.txt`  to DOcker container
- [ ] Update Docker build trigger to

[2020-12-31 18:59] callahantiff commented on #53
@bill-baumgartner - given the time crunch I'm pulling this off of the TODO for the ISMB deadline. I have lots of exceptions in place currently and also have implemented some other types of manual logging. That will sufficient for now. I'm hopeful some of these less pressing "enhancements" can be implemented during rotations or as part of summer internships.

[2020-12-31 19:16] callahantiff commented on #77
@bill-baumgartner - this is complete (will be integrated with PR #81). I followed the details for the `LOOM` algorithm described on the BioPortal Wiki. It's very simple, just a few methods. Since there is nothing fancy, essentially accomplished through some preprocessing of the input MesH and ChEBI data and performing an inner join to find overlapping concepts.

**In a Nutshell:** We download the

[2021-01-04 02:36] callahantiff commented on #56
After speaking with @bill-baumgartner - we will be holding off on making further updates to `OWL-NETS`, especially since the method is functioning just fine. Once the initial paper is complete this issue will be reconsidered.

[2021-01-04 02:36] callahantiff commented on #49
No longer relevant for current build framework CI/CD. Closing Issue.

[2021-01-04 02:36] #49 closed

[2021-01-04 02:38] callahantiff commented on #52
Done! All wiki pages have had DropBox links removed and now point the GCS buckets.

[2021-01-04 02:38] #52 closed

[2021-01-04 02:41] callahantiff commented on #71
Holding off on adding embeddings until evaluation complete. This will allow us to select the most appropriate kinds of embeddings to incorporate into the monthly builds. Closing for now. Will open new issue after paper is submitted.

[2021-01-04 02:41] #71 closed

[2021-01-06 19:37] rkboyce commented on #62
Hi @callahantiff - I agree with the summary for the most part. My suggestion is to make the key some identifier unique across the knowledge graph. Could be just an incremented integer unique to each relation with respect to the triple that it occurs in. I like to use 'predicate' for the URIRef that represents the edge relationship (which will likely be from an ontology e.g. RO and not unique), and

[2021-01-06 20:01] callahantiff commented on #62
Thanks so much @rkboyce, that's exactly what I needed to know!

[2021-01-07 16:54] #43 closed

[2021-01-07 16:54] #70 closed

[2021-01-07 16:54] #72 closed

[2021-01-07 16:54] #73 closed

[2021-01-07 16:54] #77 closed

[2021-01-08 07:46] callahantiff commented on #69
@bill-baumgartner - I successfully brought down the endpoint tonight 😄. It's running again, I restarted the container and it came back. The query I ran is shown below. It went down because I did not include `LIMIT`. I wonder if we should add something to protect from others doing this, or if there is something we can add to help it restart itself in these situations. Just something for us to discu

[2021-01-08 16:33] bill-baumgartner commented on #69
Good to know. From grepping our input n-triples file, we would expect the following numbers of responses:
* `subClassOf`: 1,340,072
* `RO_0000087 (has_role)`: 40,500
* `RO_0002434 (interacts_with)`: 4,042,408

So, in total, this query would have eclipsed the 5M triple limit we had originally set. It may be the case that for queries with many results, users will need to request results in batches u

[2021-01-08 18:59] callahantiff commented on #69
I agree. I did some experimenting using the SPARQL Proxy settings in our docker yaml and have some interesting insight to share in our meeting this afternoon. In a nutshell, I can get it to return all of the results, but then generate an error when trying to return the JSON results. See below:

[code]

[2021-01-09 04:19] callahantiff commented on #69
@bill-baumgartner so we have a record, here are the two queries we ran against the Endpoint via the command line:

**wget Simple:**
[code]

<br>

**wget Relation Template:**.
[code]

[2021-01-10 03:56] callahantiff commented on #60
Not really relevant at this time. Will re-open once the validation is complete and consider adding support for the best performing algorithms.

[2021-01-10 03:56] #60 closed

[2021-01-12 04:26] callahantiff commented on #62
Done! Note that this representation now includes keys for nodes and edges and has a default weight of `0.0`:
- Node key: `str(http://purl.obolibrary.org/obo/CHEBI_35406)`
- Relation key: MD5 hash of triple ensures that each key is unique with respect to the triple it occurs in ➞
[code]

[2021-01-19 19:04] callahantiff commented on #62
Completed as part of #84

[2021-01-19 19:04] #62 closed

[2021-01-19 19:04] callahantiff commented on #55
Done as part of #84

[2021-01-19 19:04] #55 closed

[2021-01-19 19:05] callahantiff commented on #58
Done as part of #84

[2021-01-19 19:05] #58 closed

[2021-01-19 19:09] callahantiff commented on #56
Closing this issue for now, have a temporary workaround. Solution is described on the owl-nets wiki.

[2021-01-19 19:09] #56 closed

[2021-01-19 19:09] callahantiff commented on #74
Done as part of #84

[2021-01-19 19:09] #74 closed

[2021-01-20 08:40] callahantiff commented on #45
Done! Package uploaded here: [https://pypi.org/project/pkt-kg/2.0.0/](https://pypi.org/project/pkt-kg/2.0.0/)

[2021-01-30 01:41] callahantiff commented on #69
### UPDATE

Need to do the following things to fully address this issue:
- [ ] Remove unneeded SPARQL proxy functionality
- [ ] Incorporate workflow into GitHub Action
- [ ] Need a script that monitors the Endpoint and alerts us if it goes down or is interrupted

[2021-01-30 02:00] callahantiff opened #86 "Create Build Dashboard"
#### TASK.
- [ ] Create a dashboard that can be used to monitor the builds over time. Would be great if it was also interactive.

**Example:** https://knowledge-graph-hub.github.io/kg-covid-19-dashboard/

[2021-01-31 22:17] #45 closed

[2021-01-31 22:17] #53 closed

[2021-01-31 22:44] callahantiff commented on #68
Nearly done. The jobs are too long to use GitHub-hosted runners for GitHub Actions. Need to explore other options for self-hosted runner. Considering using [Terraform](https://github.com/terraform-google-modules/terraform-google-github-actions-runners).

[2021-01-31 23:54] callahantiff opened #88 "Wiki: Create Endpoint Page"
### TASK

- [ ] Create a page on the project wiki that includes links to the SPARQL and Neo4J endpoints as well as sample queries for the endpoints.

[2021-02-01 05:53] callahantiff commented on #80
Done - see notebook here: https://github.com/callahantiff/PheKnowLator/blob/master/OWLNETS_Example_Application.ipynb

[2021-02-01 06:27] #80 closed

[2021-02-05 16:38] callahantiff opened #90 "CI/CD Pipeline: Ensuring Builds Use Most Current Data"
### TASK

Currently, the build downloads are via the `builds/data_to_download.txt`, which is a list of URLs. While this will work for 90% of the existing data used, there are a few data provides that include explicit versions in the URLs. As of now, this means that unless we update this text file we will not be guaranteed to get the most current data. Additionally, some of the downloads rely on ru

[2021-02-10 02:39] callahantiff opened #91 "Enabling Google GCS Directory Listing"
### Task
Add functionality the enable the listing of objects within a Google GCS bucket.  There are some interesting solutions proposed on the web to account for the lack of native functionality.

#### Potential Solution
One such [solution](https://github.com/ishvad/gcs-bucket-listing) essentially creates a listing of the items in a bucket and exposes it as a web service. I'm not sure that this is

[2021-02-15 22:02] cthoyt commented on #90
check out the [bioversions](https://github.com/cthoyt/bioversions) project, I'm working on similar stuff for solving this problem... unfortunately the state of versioned biomedical data is just as lacking as most other things 🤡

[2021-02-16 08:17] LucaCappelletti94 commented on #91
Hello @callahantiff, sorry for the delay! I believe something like that may work, but if it takes more than an hour (and in my experience configuring stuff that is not completely straightforward in Google Cloud tend to combust at some point spontaneously) possibly, we could hard-code some reference URL(s) for the latest version of Pheknowlator into a metadata JSON within Ensmallen that can be upda

[2021-02-16 08:19] LucaCappelletti94 commented on #91
One such example is [how I am currently handling the kg-hub graphs](https://github.com/AnacletoLAB/ensmallen_graph/blob/graph_miner/graph_miner/repositories/kg_hub.json) since they still have some oddities.

[2021-02-16 20:39] ablack3 opened #92 "Pheknowlator knowledge graph in OBO format"
Hi, I'm interested in trying to use the PheKnowLator integrated knowledge graph in R with the [OntologyX packages](https://cran.r-project.org/web/packages/ontologyIndex/vignettes/intro-to-ontologyX.html).  I downloaded `PheKnowLator_MergedOntologies.owl` from the [GCP bucket ](https://console.cloud.google.com/storage/browser/pheknowlator/current_build/knowledge_graphs/instance_builds/inverse_relat

[2021-02-16 22:01] callahantiff commented on #90
@cthoyt - brilliant, yes! Will definitely work on this for upcoming releases. Thanks for pointing this out!

[2021-02-19 19:33] callahantiff commented on #91
Thanks so much @LucaCappelletti94. This sounds totally reasonable. I will take a closer look this weekend and follow-up once I have a better sense. Thank you!

[2021-02-22 07:58] callahantiff commented on #92
Hey @ablack3 - thanks so much for the suggestion. We will definitely look into creating a version of the output in OBO. I think that there are a few other formats that we provide that will still be useful for you (e.g. any of the identifier edge list text files).

In the meantime, I want to share a tutorial I created that provides examples in Python using `NetworkX` and `RDFLib` using the Vaccine

[2021-02-22 17:22] callahantiff commented on #92
@bill-baumgartner - Do you know of an easy way to convert an OWL graph into an OBO graph? I suspect that this will be painful given that @ablack3 was unable to do this using ROBOT on only the merged ontology subset (meaning that the errors raised are from the original ontologies and are likely to vary by ontology).

[2021-02-22 17:22] callahantiff commented on #92
#### Update

@ablack3 take a look at the R Library called [rdflib](https://www.rdocumentation.org/packages/rdflib/versions/0.2.3), it looks to parallel the library that I recommend in Python `RDFLib` and should provide you with the functionality you need.

[2021-02-23 14:32] cthoyt commented on #90
@callahantiff please let me know if there are any resources you're using that aren't supported by bioversions already and I will add them. The syntax to get the current version for one is:

[code]

[2021-03-13 00:45] callahantiff commented on #69
When it goes down, run the following from the location shown below within the GCP instance:

[code]

[2021-03-25 23:10] callahantiff commented on #92
@ablack3 - closing this for now. Please re-open if you still need this output type.

[2021-03-25 23:10] #92 closed

[2021-03-25 23:11] callahantiff commented on #27
✅  Modify the data_reader() method to stream/chunk large data files instead of reading all into memory

[2021-03-29 23:46] bsantan opened #95 "log directory is not created when pkt_kg is imported"
**Describe the bug**
In OWLNETS_Example_Application.ipynb get this error
<img width="806" alt="Screen Shot 2021-03-29 at 5 46 20 PM" src="https://user-images.githubusercontent.com/70932395/112913351-ad3f8180-90b6-11eb-888e-9596fef2f89d.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ‘...’
2. Click on ‘....’
3. Scroll down to ‘....’
4. See error

**Expected behavior**
A clear and

[2021-03-30 02:46] callahantiff commented on #95
Hey! Since I can't reproduce this error on BigSur, Catalina, Linux Debian, or High Sierra I suspect there is something else going on specific to your set-up. Happy to help you figure it out though. In the meantime I am going to close this. If we can't get it working after the next release let's re-open it.

[2021-03-30 02:46] #95 closed

[2021-04-11 21:47] callahantiff commented on #79
Overview / Figure 1 to describe PheKnowLator is now complete! @LEHunter @bill-baumgartner  @mgkahn, what do you think (click to enlarge image)?

![Figure1_Overview](https://user-images.githubusercontent.com/8030363/114322354-0064fb80-9add-11eb-8c18-6c36dde2a5e7.png)

[2021-04-12 05:21] mgkahn commented on #79
Four comments by Kahn
![PhenKnowLator_figure1_Kahn](https://user-images.githubusercontent.com/3923918/114344123-2063e180-9b14-11eb-92bb-87260577c26e.jpg)

[2021-04-12 06:05] callahantiff commented on #79
---

**Thanks for the detailed feedback @LEHunter , the comment bubbles were super clear! Responding to your comments left to right:**
1. The body image under the "Annotation/Normalization" section is supposed to demonstrate that the process includes data that we have annotated. In this case the figure is meant to demonstrate the "hTERT" cell type for mammary gland cells and how each of the "parts

[2021-04-12 06:14] mgkahn commented on #79
For semantic abstraction: If there are alternatives (maybe implied by two downward arrows), then maybe show two different result graph structures at the end of each downward arrow. Confusing why you have two arrows leading to the single result graph.

For Annotation/Normalization: No way I would have gotten what you described from the figure but perhaps somebody who knows the ontologies would unde

[2021-04-12 15:51] callahantiff commented on #79
---

Sorry about the confusion in my last post. I accidentally tagged Larry when I meant to tag you. OK, the next pass on the figure is attached below. I have updated the **semantic abstraction** section to address the fact the double arrow problem. I can see how that was confusing. I will have to think about the **annotation/normalization** part. I think this is an important contribution that is

[2021-04-12 16:38] bill-baumgartner commented on #79
fyi - My comments are based on the previous version of the figure as I didn't see this new one in time.
![pkt-build](https://user-images.githubusercontent.com/7217210/114429742-f1348b00-9b7a-11eb-8a81-d5590049ebdd.png)

[2021-04-12 18:27] callahantiff commented on #79
---

Thanks @bill-baumgartner for the additional feedback! I will respond to the comments as they are organized by each square on the figure. Hope you can read it OK 😄

1. **Build Edge Lists:** The use of rectangles and color are really meant to be a simplified way of showing that in order to get to the edge list on the right some of the initial identifiers have to be updated. I could try to re-wo

[2021-04-15 17:47] callahantiff commented on #79
Got some additional great feedback from @mgkahn and @LEHunter. Will be working those changes today.

[2021-04-16 23:03] callahantiff commented on #79
@mgkahn and @LEHunter -- please updated figure with your requested changes. Note that there is still some light wordsmithing needed, specifically around how to refer to the output that's generated by the ecosystem/system/platform. Our goal is to make sure we convey that there are multiple kinds of/multimodal output generated. Otherwise, all other changes have been made. Thanks again for your feedb

[2021-04-17 18:18] mgkahn commented on #79
Without your previous explanation, I still do not "get" Concept Annotation from the diagram. Maybe we just move on. The rest of the figure is good. Like how you redid Semantic Abstraction.

[2021-04-17 18:49] callahantiff commented on #79
Thank you for taking another look at it. I'm happy to keep thinking about ways to improve the **Concept Annotation** square. I do think your feedback this week has helped to improve it. I don't think this resolve your concerns, but I did slightly update that part in the version below. Will stop fiddling now see what Larry and Bill think as well.

![Figure1_Overview](https://user-images.githubuserc

[2021-04-19 15:21] mgkahn commented on #79
Time to move onto other higher priority tasks........

[2021-04-19 15:24] callahantiff commented on #79
@LEHunter and @bill-baumgartner I will close this issue, please re-open if there are additional changes you would like made to the figure.

[2021-04-19 15:24] #79 closed

[2021-04-20 18:53] LEHunter commented on #79
One last comment.  I like the rearrangement, but wish there were a way to continue the arrows running left to right across the top.  I didn’t even see the arrow pointing from KG construction to generated output at first.    Maybe move the endpoints and benchmarks below generated output, and run one arrow down the right edge?

[2021-04-20 19:21] callahantiff commented on #79
OK, thanks @LEHunter. I have updated the figure. I think this addresses your request, without requiring significance overall. Can we call this the one?

![Figure1_Overview](https://user-images.githubusercontent.com/8030363/115451770-d8f7e800-a1da-11eb-90ac-78b3fda5dd65.png)

[2021-04-20 19:22] LEHunter commented on #79
Works for me!

[2021-04-21 14:28] mgkahn commented on #79
I also like this **FINAL** (!!) redesign. I also noticed the redesign of Concept Annotation. Let's go with this version.

[2021-04-21 14:38] callahantiff commented on #79
Sounds great. I'm officially closing this. Notice the super official checkmark emoji I added to the issue title to convey this 😄 .

[2021-04-21 21:32] callahantiff commented on #79
Wait, wait, @LEHunter dare I say that this figure will [satisfice](https://www.nobelprize.org/uploads/2018/06/simon-lecture.pdf)?!

[2021-04-21 21:47] LEHunter commented on #79
indeed.  Need a new check box?

[2021-04-21 21:49] callahantiff commented on #79
AWESOME. Better than a checkmark we need a Herbert Simon Emoji!

[2021-05-07 13:58] matthias-samwald opened #97 "Consider switching to https://identifiers.org/ URI or CURIEs"
Looking at the currently used identifiers, it seems to be a mixture of OBO PURLs and ad-hoc solutions for some of the molecular entities. identifiers.org identifiers should make it possible to elegantly cover everything (either URI or CURIEs -- the latter would be more compact, but of course might be less ideal with OWL tools).

[2021-05-08 02:45] callahantiff commented on #97
Hi, @matthias-samwald thanks for your interest PheKnowLator! 😄

We are currently using a mixture of URIs, those that come with each ontology (most are OBO PURLs) and the non-OBO PURLs we add for other sources. For the latter, we have opted to choose the primary identifier that is recommended for that source.

Happy to accommodate other solutions and your suggestions would certainly make things mor

[2021-05-11 18:21] callahantiff opened #99 "Create Edge-Type Attribute File"
## Task
Add an output file to accompany the node metadata created for each build that provides users with an easy way to identify what type each triple is.

### Design
The file should at a minimum contain the following information:
- **Triple Identifier**: Ideally, this file would either take the subject, object, and predicate of each triple as an identifier or preferably, we would index each trip

[2021-05-12 04:52] fmello01 commented on #99
Hi @callahantiff , thanks for answering my questions. I will reply to them later. I wanted to make a comment about this topic in specific. Personally, I didn't have any trouble to use the node-edge-node data from the document "Master_Edge_List_Dict.json".

I guess my question was more towards:
i) Understand if weights were being saved somewhere, as you mentioned above, so if I want to consider the

[2021-07-04 18:38] callahantiff opened #102 "July 2021 Build -- Delay"
### Issue
The `JULY 2021` build is temporarily delayed due to unreachable dependencies. More specifically, the Gene Ontology website and associated resources are currently unavailable. See details regarding the issue via [`GO Issue Tracker #324`](https://github.com/geneontology/helpdesk/issues/324)

#### Solution
Due to the Holiday weekend, it is expected that a resolution may take a few days. Wil

[2021-07-06 16:17] #102 closed

[2021-07-30 09:14] LucaCappelletti94 commented on #91
Hello @callahantiff, I am doing a round of updates to the graph retrieval, any news on the PheKnowLator graph availability? I saw it is offered in owl, but we do not currently support the OWL format.

[2021-08-05 23:09] callahantiff commented on #91
Hey @LucaCappelletti94 -

Thanks for circling back with me. We would love to be included and we do provide data in a format other than OWL. Information on all of the output files produced, including a snippet of the output, can be found here: https://github.com/callahantiff/PheKnowLator/wiki/KG-Construction#table-knowledge-graph-build-output. Per our conversation on Slack, I think the files for ea

[2021-08-06 16:42] callahantiff commented on #91
Awesome @LucaCappelletti94 thanks for your help with this. I will close this issue, but please feel free to re-open if we need to do more work here.

[2021-08-06 17:08] #91 closed

[2021-08-09 16:42] callahantiff opened #107 "Incorporating Ensmallen -- 🔮 Magic ✨ 🎩"
### Reason for Posting
@bill-baumgartner see output below (created by the [`ensmallen graph library`](https://github.com/LucaCappelletti94/ensmallen_experiments), which PheKnowLator is a part of) processed by @LucaCappelletti94. We will need to make sure that we include this level of detailed overview of the KGs for the analysis. I am going to try and meet with Luca this week or next week to get t

[2021-08-12 16:55] callahantiff opened #108 "Script Notebook: OWLNETS_Example_Application.ipynb"
## TASK
Script a version of the Jupyter Notebook [`OWLNETS_Example_Application.ipynb`](https://github.com/callahantiff/PheKnowLator/blob/master/notebooks/OWLNETS_Example_Application.ipynb) and figure out how to include it. Probably makes the most sense to push the code back to the original [`OWL-NETS`](https://github.com/callahantiff/owl-nets) repo and then port it into this library.

### TODO
I w

[2021-08-16 22:52] callahantiff commented on #108
- [ ] Add entity definitions to the nodes and relations metadata file

[2021-09-22 16:37] callahantiff commented on #99
Per discussion with @LucaCappelletti94 - create two separate `tsv` files:
- **Node Data:** contains node identifiers and node type. For nodes with multiple types, separate each type label with a `|`
- **Edge Data:** contains columns for source and destination node identifiers, edge weight, and edge type. For edges with multiple types, separate each type label with a `|`.  Example: `relation:edge t

[2021-09-23 07:25] LucaCappelletti94 commented on #99
One more thing: if you have, generally speaking, node features and edge features, as in either other categorical or metric ones, even stuff like the BED coordinates if some are genomic regions, they can be useful when running GNN and GCN models on the graph.

[2021-09-23 15:38] callahantiff commented on #99
Great suggestion @LucaCappelletti94! One thought that immediately comes to mind is gene expression values (for specific tissues) we can definitely add that. I'll think through what else might make a good edge type.

Sometimes the distinction between what should be used as a weight or type gets blurred. However, if we were to first mark everything that may be interesting/useful as an edge type (i.e

[2021-09-23 15:58] fmellomascarenhas commented on #99
Hi, if you dont mind me sharing my two cents. In the data `PheKnowLator_v2.1.0_full_subclass_relationsOnly_OWLNETS_SUBCLASS_purified_Triples_Identifiers.txt` there are 291 unique edge_types. Are all of these edge_types in the dataset?

Also, in DisGeNet, for example, the edges between DIS-GENE can have multiple labels, which completely changes the meaning between their iteration. Would it be possi

[2021-09-23 16:09] callahantiff commented on #99
Hi @fmellomascarenhas - I always appreciate your feedback!

You are right that I have not yet included specific edge typing from the resources that we import, like DisGeNet and STRING. I agree it's time that we do!

I will spend some time working on and thinking through this tomorrow and will create a spec for what we can add from each source we import. I will also include a brief plan/overview of

[2021-09-23 16:14] fmellomascarenhas commented on #99
Sounds great! :)

From a Machine Learning point of view, I see four main uses for that:
1) Filter data that my stakeholders might not want there, for example, edges created from protein-protein predictions;
2) Predict specific edgetypes, for example, drug-approved_treatment-disease;
3) Predict multiple edgetypes at once, as a multitask learning problem;
4) Use as an edge feature;

[2021-09-23 16:19] callahantiff commented on #99
Excellent points and *even more motivation* for me to make these changes! 👍

[2021-10-02 22:39] callahantiff commented on #99
Just an update -- I was not able to get to this last week, but plan on coming back to it next week. Sorry for the delay!

[2021-10-09 19:56] callahantiff opened #113 "New Resource Request: LINCS"
**Resource Name:** LINCS Consortium Data

**Resource URL:**
- [https://lincsproject.org/](https://lincsproject.org/)
- [https://lincsproject.org/LINCS/centers/data-and-signature-generating-centers](https://lincsproject.org/LINCS/centers/data-and-signature-generating-centers)

**Resource License Information:** The following information was taken directly from the [LINCS Release-Policy](https://linc

[2021-10-09 23:34] callahantiff opened #114 "Adding Edge Pattern and Relation Types"
### New Edge Metadata
I am hoping to add two types of relation-specific metadata to the statistics that are currently generated with each KG build: (i) relation types and (ii) relation patterns. A brief description of each is included below. The thing to keep in mind when considering how we might generate these stats is that we need strategies for generating them for our OWL builds and the OWL-NET

[2021-10-09 23:59] callahantiff commented on #99
Sorry for the delay, I think we are close to being able to make the updates we have been discussing in this thread. I have been reviewing the different resources that we bring in and thinking through some of the challenges with @bill-baumgartner, who has been involved with me from the beginning in building `pkt`.

I think we came up with the best possible solution in terms of being able to incorpo

[2021-10-10 01:57] Bancherd-DeLong opened #115 "requirements.txt"
HI:
I am fairly new to Knowledge Graph, and totally new to biomedical KGs.
Thank you very much for sharing your work.

I am having problems installing requirements.txt, with "responses==0.10.12".
I am using ubuntu 20.04, with anaconda for virtual environment.  It appears that conda only has version 0.10.8.  Can I use 0.10.8?

Best Regards,
Bancherd DeLong

[2021-10-11 14:56] fmellomascarenhas commented on #99
Hi @callahantiff , I am vacation this week, but I will get back to you soon! Thanks :)

[2021-10-11 15:09] callahantiff commented on #99
That sounds great! Have a great vacation! 😄

[2021-10-12 12:57] nomisto opened #116 "Newline char in node description/definition causes dirty lines in node metadata files"
**Describe the bug**
Hello, great work, thanks for providing so much data! I've recently discovered that the metadata files contain "dirty" lines which may be result of newline characters in the source of the description of a node. This is not a breaking bug, but just so you know. So far i've checked version 2.0 (build build_11FEB2021) and 3.0 (build_02OCT2021).

**To Reproduce**
Steps to reproduc

[2021-10-13 15:33] Bancherd-DeLong commented on #115
Let me wrestle with this a little more, the problems might be on my side.
I will close this for now.  Thank you.

[2021-10-13 15:33] #115 closed

[2021-10-13 16:59] callahantiff commented on #116
Hi @nomisto. Thanks again for pointing out this bug!

I have found and repaired the error in the codebase and pushed an update to PyPI. I am currently in the process of updating the `node_metadata_dict.pkl` and `XXXX_NodeLabels.txt` files for all `v2.0.0` (excluding `build_10MAY2020`), `v2.1.0`, and `v3.0.0` builds.

I am happy to let you know when that processing is complete. I hope to have it do

[2021-10-13 23:31] sanyabt commented on #99
Hi @callahantiff, just caught up with the discussion here and I agree that this would be a great solution! I can envision adding timestamps to the edge metadata and other metrics (eg. node centrality) to node metadata if needed. Thank you for figuring out a solution so quickly 😄

[2021-10-13 23:44] callahantiff commented on #99
Absolutely, that's what I was envisioning too. That we would have a baseline amount of metadata we provide, that users can choose from and/or extend -- with things like timestamps -- as needed.

I will likely make the updates the week after next and will let you know when it's ready. Thanks again for your feedback!

[2021-10-14 00:30] sanyabt opened #118 "Foreign characters in node labels"
**Describe the bug**
Hi @callahantiff, I am generating paths using search algorithms in my (extended) PheKnowLator version and noticed foreign characters (mostly Chinese characters) in some of the node labels when mapping node URIs to labels. I checked in the current build of PheKnowLator (instance-based) just to make sure it wasn't just in my build and noticed the same issue for approximately 200

[2021-10-14 00:40] sanyabt commented on #114
Hi @callahantiff, dropping in for a quick comment that Scott Malec (@kingfish777) mapped relations in the Relation Ontology to the above relation patterns for our symmetric and transitive closure on literature-based knowledge and semantic relation extraction graph last year. Will be happy to share that if it is useful 😄

[2021-10-14 04:44] callahantiff commented on #116
@nomisto - everything has been updated. Please feel free to close this issue if everything looks OK to you.

[2021-10-14 08:51] #116 closed, assigned to callahantiff

[2021-10-14 14:53] callahantiff commented on #118
No trouble at all! actually, I have a different idea. Give me a few hours and I will send you a new file. Does that sound OK?

[2021-10-14 14:54] callahantiff commented on #118
haha, ignore the re-opening and closing of the issue, my computer just freaked out! Sorry about that 😊 .

[2021-10-14 16:38] callahantiff commented on #118
Thank you for pointing out this bug!

[2021-10-14 17:22] sanyabt commented on #118
Hi @callahantiff, sorry to open this again but I thought it would be better addressed on this thread - the PR namespace nodes have label = 'N/A' in the bad_node_path.json file 😅

Examples:
'<http://purl.obolibrary.org/obo/PR_Q6V1P9>',
 '<http://purl.obolibrary.org/obo/PR_Q9NZV6-1>',
 '<http://purl.obolibrary.org/obo/PR_Q9GZL7>',
 '<http://purl.obolibrary.org/obo/PR_O76083-5>',
 '<http://purl.oboli

[2021-10-14 18:04] callahantiff commented on #118
haha oh boy, that's what I get for not running tests. OK, re-checking now. Be back in touch soon! 😄

[2021-10-14 19:37] sanyabt commented on #118
Sounds good, thank you so much!

[2021-10-15 23:19] #118 closed

[2021-10-19 05:20] callahantiff commented on #99
@fmellomascarenhas this is fantastic feedback, thank you very much! I also really enjoy the examples. I am not sure we can accommodate everything in the first pass, but this format will allow easy integration of the types of metadata you suggest (and likely things neither of us has thought of yet [I think 🤔 and hope 😄 ])! OK, will keep you posted as I begin working on this over the next few weeks.

[2021-12-06 19:54] callahantiff commented on #47
Closing this for now since it's no longer a pending todo item. Feel free to re-open if we decide to go this route again.

[2021-12-06 19:54] #47 closed

[2021-12-06 19:55] callahantiff commented on #27
Closing for now as this issue is not super relevant. Please feel free to re-open if there is a reason to fix this sooner.

[2021-12-06 19:55] #27 closed

[2021-12-06 19:57] callahantiff commented on #69
@bill-baumgartner - I am going to close this for now. I think the 99% automated approach we are using now is totally fine as the endpoint is not something we plan to keep forever. Let me know if you disagree.

[2021-12-06 19:57] #69 closed

[2021-12-06 20:16] callahantiff commented on #97
After taking time to think about this and to review available resources for identifier resolution, we have decided to give [Bioregistry](https://bioregistry.io/) a try. This will still enable us to address the same types of issues that were highlighted above and will more easily integrate with the existing Python framework.

Please let me know if you see any major issues with this. Thank you!

[2022-08-10 00:06] callahantiff opened #127 "Simplify input files -- input yaml"
Use a single `yaml` to organize input ontology and edge sources as well as to specify the information that is needed to parse them. This would enable the replacement of the following files: `ontology_source_list.txt`, `edge_source_list.txt`, and `resource_info.txt`. It would also completely remove the data ingest class and remove the need for the user input automation script.

Consider a similar a

[2022-08-10 00:07] callahantiff commented on #37
Add the OHDSI 10-minute tutorial to video list: https://www.youtube.com/watch?v=E9DT2cUJkyk

[2022-08-10 00:09] callahantiff commented on #127
Also add a header key that provides definitions for all required input parameters.

[2022-09-08 15:33] callahantiff commented on #127
Similarly related -- use the info here, like the prefix used for nodes to update the `edge_source_metadata.txt` files. As well as creating named graphs or incorporating relevant information into the edgelist metadata

[2022-09-09 14:23] callahantiff commented on #127
Make sure that we are getting the most up-to-date data from each source, including our queries

[2022-09-09 14:33] callahantiff commented on #127
Zip all data files to reduce storage space

[2022-09-09 15:07] callahantiff commented on #127
Verify the gene and disease identifier mappings